<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.casey.donationtracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controllers.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controllers.LoginScreen" />
        <activity android:name=".Controllers.HomeScreen" />
        <activity android:name=".Controllers.LoginFail"></activity>
        <activity android:name=".Controllers.RegScreen" />
        <activity android:name=".Controllers.LocationListScreen" />
        <activity android:name=".Controllers.DetailLocation" />
        <activity android:name=".Controllers.ItemListScreen" />
        <activity android:name=".Controllers.DetailItem" />
        <activity android:name=".Controllers.ItemEntryScreen" />
    </application>

</manifest>
